{#{% extends 'Page/Backend/templates/layout.html.twig' %}#}

{#{% set article_id = article.id %}#}
{#{% set sidebar = sidebar %}#}

{#{% block content %}#}



<h1>Раздел &laquo;{{ article.title }}&raquo;</h1>

<form enctype="multipart/form-data" method="post" name="mainForm" id="mainForm">


    <div class="panel panel-default">
        <div class="panel-body">
            <ol class="breadcrumb">
                {{ path | raw }}
            </ol>
        </div>
    </div>

    <button id="submit_btn2" class="btn btn-primary" onClick="return ConfirmDelete()">Внести изменения</button>

    <br /><br />

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#">Текст и общие параметры</a></li>
        {#<li role="presentation"><a href="/{% if app.debug == true %}index_dev.php/{% endif %}admin/gallery/{{ article.id }}/">Фотогалерея</a></li>#}
        {#<li role="presentation"><a href="/{% if app.debug == true %}index_dev.php/{% endif %}admin/rightcol/{{ article.id }}/">Правая колонка</a></li>#}
    </ul>


    <div class="panel panel-default">
        <div class="panel-heading"><a href="javascript:;" data-toggle="collapse" data-target="#seo" class="toggle-block" data-params="seo">SEO <span class="caret-right" id="seoCaret"></span></a></div>
        <div class="panel-body collapse" id="seo">
            <table class="text-parts-table table table-bordered">
                <tr>
                    <td class="active">Meta keywords</td>
                    <td>
                        <textarea name='meta_keywords' id='meta_keywords' class="form-control" rows="2">{{ article.meta_keywords }}</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="active">Meta description</td>
                    <td>
                        <textarea name='meta_description' id='meta_description' class="form-control" rows="2">{{ article.meta_description }}</textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <input type="hidden" name="article_id" id='article_id' value="{{ article.id }}" />
    <input type="hidden" name="global_title" id='global_title' value="" />
    <input type="hidden" name="parent_id" id='parent_id' value="{{ article.parent_id }}" />
    <input type="hidden" name="lang" value="{lang}" />

    <input type="hidden" name="Update" value="Update" />
    <button id="submit_btn" class="btn btn-primary" onClick="return ConfirmDelete()">Внести изменения</button>
</form>
