<section class="services">
    <div class="container">
        <div class="row no-gutters">

            <h2 class="title">Блог</h2>

            <h3>{{ article.title }}</h3>

            <div class="clearfix"></div>

            <p><b>{{ article.date | date('d.m.Y') }}</b></p>

            {{ article.main_text | raw }}

            {% if photos | length > 0 %}
                <div class="right-col-gallery">
                    {% for photo in photos %}
                        <div class="gallery-item effect-milo">
                            <a data-fancybox="gallery" href="/uplds/{{ article.id }}/gallery/{{ photo.filename }}" title="{{ photo.title }}" data-caption="{{ photo.title }}"><img src="/uplds/{{ article.id }}/gallery/sm_{{ photo.filename }}" border="0" /></a>
                            <div class="photo-title">{{ photo.title }}</div>
                        </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
            {% endif %}



        </div>
    </div>
</section>

