
<section class="header-carousel">
    <div class="container-fluid">

            <div class="top-slider row">
                <div class="header-slide js_slide">
                    <div class="container">
                        <div class="row no-gutters">
                            <div class="header-slide__flex-container">
                                <icon id="logo" class="header-carousel__logo" width="293" height="293"></icon>
                                <div class="header-slide__text-container">
                                    <div class="header-slide__title">
                                        ВАЛКА ДЕРЕВЬЕВ
                                    </div>
                                    <div class="header-slide__subtitle">
                                        CЛОЖНЫХ И НЕ ОЧЕНЬ
                                        <br>
                                        <span class="letter-spacing">
                  ЧАСТЯМИ И ЦЕЛИКОМ
                </span>
                                    </div>
                                </div>
                                <img class="header-carousel__label" src="/assets/pctrs/label.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="header-slide header-slide_2 js_slide">
                    <div class="container">
                        <div class="row no-gutters">
                            <div class="header-slide__flex-container">
                                <img class="header-carousel__label" src="/assets/pctrs/label.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="header-slide header-slide_3 js_slide">
                    <div class="container">
                        <div class="row no-gutters">
                            <div class="header-slide__flex-container">
                                <div class="header-slide__text-container">
                                    <div class="header-slide__title">
                                        ВАЛКА ДЕРЕВЬЕВ
                                    </div>
                                    <div class="header-slide__subtitle">
                                        cложных и не очень
                                        <br>
                                        <span class="letter-spacing">
                  частями и целиком
                </span>
                                    </div>
                                </div>
                                <img class="header-carousel__label" src="/assets/pctrs/label.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>



</section>


<section class="services">
    <div class="container">
        <div class="row no-gutters">

            <h2 class="title">НАШИ УСЛУГИ</h2>

            <div class="services__flex">
                <div class="services__item">
                    <img class="services__image" src="/assets/pctrs/delete-tree.png" alt="">
                    <p class="services__label">валка</p>
                </div>
                <div class="services__item">
                    <img class="services__image" src="/assets/pctrs/pruning.png" alt="">
                    <p class="services__label">обрезка</p>
                </div>
                <div class="services__item">
                    <img class="services__image" src="/assets/pctrs/stump.png" alt="">
                    <p class="services__label">удаление<br>пней</p>
                </div>
                <div class="services__item">
                    <img class="services__image" src="/assets/pctrs/removal.png" alt="">
                    <p class="services__label">утилизация/<br>вывоз</p>
                </div>
                <div class="services__item">
                    <img class="services__image" src="/assets/pctrs/bonfire.png" alt="">
                    <p class="services__label">дрова</p>
                </div>
                <div class="services__item">
                    <img class="services__image" src="/assets/pctrs/complex.png" alt="">
                    <p class="services__label">комплексный<br>подход</p>
                </div>
            </div>

            <button class="large-button" onclick="location.href='#order';">ОТПРАВИТЬ ЗАЯВКУ</button>

        </div>
    </div>
</section>

<section class="photo">
    <div class="container">

            <h2 class="title">ПОСЛЕДНИЕ ФОТО</h2>

            <div id="photo-slider" class="photo__slider slider js_slider">
                {% for lastphoto in lastphotos %}
                <div class="photo__slide js_slide"><a href="/uplds/{{ lastphoto.gallery_id }}/gallery/{{ lastphoto.filename }}" class="data-fancybox" data-fancybox="group" data-caption="{{ lastphoto.title }}"><img src="/uplds/{{ lastphoto.gallery_id }}/gallery/{{ lastphoto.filename }}" alt=""></a></div>
                {% endfor %}
            </div>

        </div>

</section>

<section class="work">
    <div class="container">
        <div class="row no-gutters">

            <h2 class="title">РАБОТАТЬ С НАМИ ПРОСТО</h2>

            <div class="work__flex">
                <div class="work__item">
                    <img class="work__image work__image_phone" src="/assets/pctrs/contacts.png" alt="">
                    <div class="work__txt"><span>Ваш звонок<br>или заявка на сайте</span></div>
                </div>
                <div class="work__item">
                    <img class="work__image" src="/assets/pctrs/calendar.png" alt="">
                    <div class="work__txt"><span>Оценка работы,<br>согласование сроков</span></div>
                </div>
                <div class="work__item">
                    <img class="work__image work__image_man" src="/assets/pctrs/mini-logo.png" alt="">
                    <div class="work__txt"><span>Выполнение<br>работ</span></div>
                </div>
                <div class="work__item">
                    <img class="work__image" src="/assets/pctrs/money.png" alt="">
                    <div class="work__txt"><span>Оплата</span></div>
                </div>
                <div class="work__line"></div>
            </div>

            <button class="large-button" onclick="location.href='#order';">ОТПРАВИТЬ ЗАЯВКУ</button>

        </div>
    </div>
</section>

<div class="reviews">
    <div class="container">

            <h2 class="reviews__title title">ОТЗЫВЫ</h2>

            <div id="reviews-slider" class="reviews__slider slider js_slider">

                {% for feedback in feedbacks %}
                <div class="reviews__slide js_slide">
                    <div class="reviews__message">
                        <span>
                            {{ feedback.question }}
                        </span>
                    </div>
                    <div class="reviews__author">{{ feedback.name }}</div>
                </div>
                {% endfor %}

            </div>
    </div>
</div>

<section class="form">
    <div class="container">
        <div class="row no-gutters">
            <a name="order"></a>
            <h2 class="title">РАССЧИТАТЬ СТОИМОСТЬ ЗАКАЗА</h2>
            <span class="form__subtitle">Заполните форму и мы свяжемся с вами в ближайшее время</span>
        </div>
        <form method="post" enctype="multipart/form-data">
            <div class="row no-gutters">
                <div class="form__flex">
                    <div class="form__item">
                        <label class="form__label">Имя: </label>
                        <label class="form__custom-border">
                            <input class="form__input" type="text" name="name" value="{{ app.request.request.get('name') }}" placeholder="Введите имя">
                        </label>
                        <label class="form__label">Телефон: </label>
                        <label class="form__custom-border">
                            <input id="phone-input" class="form__input" name="phone" type="tel" value="{{ app.request.request.get('phone') }}" placeholder="+7 (_ _ _) _ _ _ -_ _- _ _">
                        </label>
                        <label class="form__label">E-mail: </label>
                        <label class="form__custom-border">
                            <input class="form__input" type="email" name="email" value="{{ app.request.request.get('email') }}" placeholder="Введите электронный адрес">
                        </label>
                        <label class="form__label">Виды работ:</label>
                        <label class="form__custom-border">
                            <div class="form__triangle"></div>
                            <select class="form__select" name="service">
                                {% for service in services %}
                                <option value="{{ service.title }}">{{ service.title }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                    <div class="form__item">
                        <label class="form__label">Если есть фото: </label>
                        <input class="form__file-input" type="file" name="photo[]" accept=".jpg, .png, .bmp, .jpeg, .gif">
                        <input class="form__file-input form__file-input_hidden-sm" type="file" name="photo[]" accept=".jpg, .png, .bmp, .jpeg, .gif">
                        <input class="form__file-input form__file-input_hidden-sm" type="file" name="photo[]" accept=".jpg, .png, .bmp, .jpeg, .gif">
                        <label class="form__label">Описание проблемы: </label>
                        <label class="form__custom-border form__custom-border_fixed-height">
                            <textarea class="form__textarea" maxlength="500" name="description" placeholder="Нужно свалить сосну высотой с двухэтажный дом.">{{ app.request.request.get('description') }}</textarea>
                        </label>
                    </div>
                    <div class="form__item">
                        <input type="checkbox" class="form__checkbox" id="agree" name="agree" value="yes" checked />
                        <label for="agree">Я согласен с <a href="/polzovatelskoe_soglashenie/" target="_blank">Условиями обработки персональных данных</a></label>
                    </div>
                </div>
                <button class="large-button" type="submit" name="Send">РАССЧИТАТЬ СТОИМОСТЬ</button>
            </div>
        </form>
    </div>
</section>

{# Check if we got a session without creating one #}
{#{% if app.request.hasPreviousSession %}#}
    {# Check if we got some flash messages #}
    {% if app.session.flashbag.peekAll()|length > 0 %}
        <div id="hidden-content" style="display: none;">
            {% for message in app.session.getFlashBag.get('message') %}
                <div class="alert alert-{{ message.type }}" >
                    {{ message.content | raw }}
                </div>
            {% endfor %}
        </div>
        <script>
            $(document).ready(function() {
                $.fancybox.open({
                    src  : '#hidden-content',
                    type : 'inline',
                    opts : {
                        afterShow : function( instance, current ) {
                            console.info( 'done!' );
                        }
                    }
                });
            });
        </script>

    {% endif %}
{#{% endif %}#}

